:root {
  --4px: 0.25rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --32px: 2rem;

  --white: #FFFFFF;
  --black: #000000;

  --gray-500: #B3B3B3;
  --gray-600: #878787;
  --gray-800: #242424;
  --gray-900: #121212;
}