.main-container {
  height: 100vh;
  max-width: 80vw;
  margin-inline: 320px 56px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--10px);
  padding: var(--16px);

  border-radius: 8px;
  background-color: var(--gray-900);
}

.header__navigation .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation .arrow-left {
  margin-right: var(--20px);
}

.arrow-left, .arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  
  border: none;
  border-radius: 50%;
  color: var(--white);
  background: var(--bg-icon);
  background-color: var(--bg-icon-opacity);
}

.arrow-right {
  color: var(--gray-500)
}

.arrow-left:hover, .arrow-right:hover {
  opacity: .7;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  margin-left: var(--8px);

  border-radius: 500px;
  background-color: var(--gray-800);
  border: 1px solid transparent;
}

.header__search span {
  font-size: var(--16px);
  color: var(--gray-500);
  margin-left: var(--10px);
}

.header__search input {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-inline: var(--10px) var(--12px);

  border: none;
  outline: none;
  color: var(--white);
  background: transparent;
}

.header__login .subscribe {
  margin-right: var(--32px);

  font-weight: 700;
  font-size: var(--16px);
  color: var(--gray-600);
  background-color: transparent;
}

.header__login .subscribe:hover {
  color: var(--white)
}

.header__login .login {
  width: 100px;
  height: 48px;

  font-weight: 700;
  border-radius: 40px;
  color: var(--black);
  font-size: var(--16px);
  margin-right: var(--32px);
}