.offer__list-item {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1650px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1430px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  .offer__list-item {
    grid-template-columns: 1fr;
  }
}