.offer__list-item {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
  width: 420px;
}

.grid-container {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

@media screen and (max-width: 1650px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sidebar {
    width: 380px;
  }
}

@media screen and (max-width: 1430px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__buttons .buttons-info {
    display: none;
  }

  .header__buttons .separator {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1200px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }

  .header__buttons .download {
    display: none;
  }

  .header__search input {
    width: auto;
  }

  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 950px) {
  .sidebar {
    width: 280px;
  }

  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}