.offer__list-item {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1650px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sidebar {
    width: 380px;
  }
}

@media screen and (max-width: 1430px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__buttons .buttons-info {
    display: none;
  }

  .header__buttons .separator {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }

  .header__buttons .download {
    display: none;
  }

  .header__search input {
    width: auto;

  }
}

@media screen and (max-width: 950px) {
  .sidebar {
    width: 280px;
  }
}