.app {
  height: 97vh;
  margin: var(--10px);
  overflow: hidden;
  
  font-family: var(--default-font);
  
  display: grid;
  gap: var(--24px);
  grid-template-columns: 420px 1fr;
  grid-template-rows: 64px 1fr 64px;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer"
  ;
}
.app #header {
  grid-area: header;
}

.app #sidebar {
  grid-area: sidebar;
}

.app #main {
  grid-area: main;
}

.app #footer {
  grid-area: footer;
}