.app {
  font-family: var(--default-font);
  padding: var(--10px);

  display: grid;
  gap: var(--24px);
  grid-template-rows: 80px calc(1fr - var(--20px));
  grid-template-columns: 300px calc(1fr - var(--20px) - var(--24px));
}