.sidebar {
  display: flex;
  overflow: hidden;
}

.sidebar__library {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--4px) var(--8px);

  border-radius: 8px;
  background-color: var(--gray-900);
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: var(--12px);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--gray-700);
}

.library__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.library__button {
  display: flex;
  align-items: center;
  margin-right: var(--10px);
  padding: var(--20px) var(--10px);
  
  border: 0;
  color: var(--gray-500);
  font-weight: 600;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  font-family: var(--14px);
  background-color: transparent;

  transition: all .2s;
}

.library__button .icon-library {
  padding-right: var(--8px);
  margin-right: var(--10px);

  font-weight: 300;
  font-size: var(--20px);
}

.library__button:hover {
  color: var(--white);
}

.library__content .icon-plus {
  margin: var(--24px) var(--10px);
  background-color: none;

  color: var(--gray-500);
  cursor: pointer;
}

.library__content .icon-plus:hover {
  color: var(--white);
  background-color: var(--gray-800);
  box-shadow: 0 0 32px var(--gray-500);
}

.section-playlist {
  display: flex;
  gap: var(--20px);
  align-items: flex-start;
  margin-block: var(--8px);
  justify-content: space-between;
  padding: var(--16px) var(--20px);

  font-weight: 600;
  border-radius: 10px;
  font-size: var(--14px);
  background-color: var(--gray-800);
}

.section-playlist__content {
  display: flex;
  flex-direction: column;
}

.section-playlist__content .text {
  padding-bottom: var(--14px);

  color: var(--white);
}
.section-playlist__content .title {
  font-weight: 700;
  font-size: var(--16px);
}

.section-playlist__content .subtitle {
  font-weight: 400;
  font-size: var(--14px);
}

.section-playlist__button {
  padding: var(--4px) var(--16px);
  margin-top: var(--12px);
  width: fit-content;
  
  border: 0;
  font-weight: 700;
  border-radius: 20px;
  text-transform: none;
  text-decoration: none;
  color: var(--black);
  font-size: var(--14px);
  background-color: var(--white);

  transition: all .2s;
}

.section-playlist__button:hover {
  transform: scale(1.1);
}

.sidebar__library .bottom-links {
  text-decoration: none;
  margin-top: var(--32px);
  margin-inline: var(--20px);
  margin-bottom: var(--8px);

  display: flex;
  flex-wrap: wrap;
}

.sidebar__library .bottom-links a {
  font-weight: 500;
  text-decoration: none;
  font-size: var(--10px);
  color: var(--gray-500);
  margin-right: var(--16px);
  margin-block: var(--8px);
}


.sidebar__library .cookies {
  margin-inline: var(--20px);
  margin-bottom: var(--32px);
}

.sidebar__library .cookies a {
  font-weight: 500;
  text-decoration: none;
  font-size: var(--10px);
  color: var(--white);
}

.sidebar__library .cookies a:hover {
  color: var(--white);
  text-decoration: underline;
}

.sidebar__library .languages__button {
  width: 170px;
  margin: var(--8px);
  padding: var(--8px);
  align-items: center;

  font-weight: 700;
  border-radius: 20px;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--gray-700);

  transition: all .2s;
}

.sidebar__library .languages__button:hover {
  border-color: var(--white);
  transform: scale(1.1);
}

.sidebar__library .languages__button .icon-globe {
  margin-right: var(--4px);
}