.sidebar {
  position: sticky;
}

.sidebar nav + div {
  margin-top: var(--24px);
}

.sidebar__navigation {
  padding: var(--16px) 0 0 var(--16px);

  border-radius: 8px;
  background-color: var(--gray-900);
}

.navigation__logo {
  display: flex;
  padding: var(--16px) 0 0 var(--16px);
}

.navigation__logo img {
  width: 80px;
}

.sidebar__navigation ul {
  margin-top: var(--20px);
  padding: 0 var(--20px) var(--10px) var(--20px);
}

.sidebar__navigation ul li {
  padding-block: var(--10px); 
}

.sidebar__navigation ul li a {
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--gray-500);
}

.sidebar__navigation .icon-home,
.sidebar__navigation .icon-search {
  margin-right: var(--8px);
}

.sidebar__navigation ul li a:hover {
  color: var(--white);
}

.sidebar__library {
  display: flex;
  flex-direction: column;
  margin-top: var(--10px);
  justify-content: space-between;
  padding: var(--4px) var(--8px);

  border-radius: 8px;
  background-color: var(--gray-900);
}

.library__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.library__button {
  display: flex;
  align-items: center;
  margin-right: var(--10px);
  padding: var(--20px) var(--10px);
  
  border: 0;
  color: var(--gray-500);
  font-weight: 600;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  font-family: var(--14px);
  background-color: transparent;
}

.library__button .icon-library {
  padding-right: var(--8px);
  margin-right: var(--10px);

  font-weight: 300;
  font-size: var(--20px);
}

.library__button:hover {
  color: var(--white);
}

.library__content .icon-plus {
  margin: var(--24px) var(--10px);

  color: var(--gray-500);
  cursor: pointer;
}

.library__content .icon-plus:hover {
  color: var(--white);
}

.section-playlist {
  display: flex;
  gap: var(--20px);
  align-items: flex-start;
  margin-block: var(--8px);
  justify-content: space-between;
  padding: var(--16px) var(--20px);

  font-weight: 600;
  border-radius: 10px;
  font-size: var(--14px);
  background-color: var(--gray-800);
}

.section-playlist__content {
  display: flex;
  flex-direction: column;
}

.section-playlist__content .text {
  padding-bottom: var(--14px);

  color: var(--white);
}
.section-playlist__content .title {
  font-weight: 700;
}

.section-playlist__content .subtitle {
  font-weight: 500;
  font-size: var(--12px);
}

.section-playlist__button {
  display: flex;
  width: 113px;
  padding: var(--10px);
  justify-content: center;
  margin-top: var(--12px);
  
  border: 0;
  font-weight: 700;
  border-radius: 20px;
  text-transform: none;
  text-decoration: none;
  color: var(--black);
  font-size: var(--12px);
  background-color: var(--white);
}

.section-playlist__button:hover {
  opacity: .8;
}

.sidebar__library .bottom-links {
  text-decoration: none;
  margin: var(--25px) var(--20px);

  display: flex;
  flex-wrap: wrap;
}

.sidebar__library .bottom-links a {
  font-weight: 500;
  text-decoration: none;
  font-size: var(--10px);
  color: var(--gray-500);
  margin-right: var(--16px);
  margin-block: var(--8px);
}


.sidebar__library .cookies {
  margin: var(--25px) var(--20px);
}

.sidebar__library .cookies a {
  font-weight: 500;
  text-decoration: none;
  font-size: var(--10px);
  color: var(--white);
}

.sidebar__library .cookies a:hover {
  color: var(--white);
  text-decoration: underline;
}

.sidebar__library .languages__button {
  width: 170px;
  margin: var(--8px);
  padding: var(--8px);
  align-items: center;

  font-weight: 700;
  border-radius: 20px;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--gray-700);
}

.sidebar__library .languages__button:hover {
  border-color: var(--white);
}

.sidebar__library .languages__button .icon-globe {
  margin-right: var(--4px);
}