.footer__premium {
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: var(--12px) var(--24px) var(--8px) var(--16px);

  background-image: linear-gradient(90deg, rgb(175, 40, 150), rgb(80, 155, 245));
}

.footer__premium .text {
  flex-shrink: 0;
}

.premium__title {
  margin-bottom: var(--4px);
  
  font-weight: 700;
  color: var(--white);
  font-size: var(--14px);
}

.premium__subtitle {
  font-weight: 400;
  color: var(--white);
  font-size: var(--16px);
}

.footer div {
  display: flex;
  gap: var(--8px);
  flex-direction: column;
}

.premium__button button {
  flex-shrink: 0;
  padding: var(--14px) var(--32px);
  
  border: 0;
  font-weight: 700;
  border-radius: 40px;
  color: var(--black);
  font-size: var(--16px);
  background-color: var(--white);
}